.nav{
   
    background-color: rgba(27, 49, 58, 0.897);
    color: rgb(211, 201, 201);
    

}
body{
    background-color: rgb(169, 197, 197);
}

.table{
    background-color: rgba(27, 49, 58, 0.897);
    color: rgb(211, 201, 201);
  }


#form_{
    color: rgba(99, 12, 12, 0.897);
}